#### Oject Oriented Programming

In [3]:
##CLASS----1.Hight level classificaton of real world entity(eg, person, animal, car )
     #----2.class is user defined blue print or protype from which object are created.
     #----3. classes provide  n means of bunding data and functionalyyt together.

In [4]:
##Oject----Just a variable to store values. 
           # Its is instance of a class.
          # An object is a simply a collection of data and method that act on these data.

In [5]:
salary=80000
salary
print
print(type(salary))# python is own develop by oops concept

<class 'int'>

In [6]:
class test:

SyntaxError: incomplete input (3527747674.py, line 1)

In [ ]:
## Pass--- ia null statement.The interper doesn't ignore a pass statement but anaythi ghappens and statement result into no operation.
    # ----- The pass is usefull when you don't write the influenaation of function but you want to implement in the future.

In [ ]:
class test:
    pass# don't do anything but don't show error

In [ ]:

class person:
    pass

In [ ]:
p1=person()# its a object

In [ ]:
p1   #(Memory allocation return )

In [ ]:
print(type(p1))

In [ ]:
p1.name='Rahul'
p1.surname='Dravid'
p1.yob=457332

In [ ]:
p1.name

In [ ]:
type(p1.name)

In [16]:
print(p1)

NameError: name 'p1' is not defined

In [18]:
## Self---- the self is reference of current instance of the class and is used to access variable that belong to the class.

In [20]:
class person2:
    #Self is the references pointer to the variable
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob

In [22]:
p2=person2()

TypeError: person2.__init__() missing 3 required positional arguments: 'name', 'surname', and 'yob'

In [24]:
p2=person2('raju','ram',45678)

In [26]:
#__init__= initialiszation

In [28]:
class person3:
    def __init__(self,name,surname,yob):
        self.name3=name
        self.surname3=surname
        self.yob3=yob

In [30]:
p3=person3('Jagruti','nanepag',23)

In [32]:
p3.surname3

'nanepag'

In [34]:
class person4:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,m,n):
        return m+n

In [36]:
p4=person4('abc','xyz',56) #__init__ it always called when an object is created

In [38]:
p4.test(3,4)

7

In [40]:
class person5:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,m,n):
        return m+n+yob

In [42]:
p5=person5('abc','xy',5)

In [44]:
p5.yob

5

In [46]:
p5.test(5,5)

NameError: name 'yob' is not defined

In [48]:
class person5:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,m,n):
        return m+n+ self.yob # whenever we have to acces data member or variable inside the class we should written refernce pointer first

In [50]:
p5_new=person5('abc','xyz',65)

In [52]:
p5_new.test(5,5)

75

In [54]:
#__str__---- default methof or inbuilt method. Ask to written usefull string

In [56]:
class person5:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,m,n):
        return m+n+ self.yob
    def __str__(self):
        return "We are laearning OOPS Concepts"

In [58]:
p_new=person5('abc','xyx',33)

In [60]:

print(p_new)

We are laearning OOPS Concepts

In [62]:
class person5:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,m,n):
        return m+n+ self.yob
    def __str__(self):
        return "%s is Name , Surname is %s & YOB is %d" %(self.name,self.surname,self.yob)

In [64]:
person=person5('jagga','nane',56)

In [66]:
person

In [68]:
print(person)

jagga is Name , Surname is nane & YOB is 56

In [70]:
# Without __init__ method
class person5:
    def pass_name(self,name):
        self.name=name
    def pass_surname(self,surname):
        self.surname=surname
    def pass_yob(self,yob):
        self.yob=yob

In [72]:
P5=person5()

In [74]:
P5.pass_name('sachin')

In [76]:
P5.pass_surname('yadav')

In [78]:
P5.pass_yob(34)

In [80]:
P5.pass_name

In [82]:
P5.name

'sachin'

In [88]:
#Abstractraction --- hiding the details
# security
# easy
# it simiplify the enter process

In [108]:
class person:
    def __init__(self,name,surname,yob):
        self.name=name #public notation
        self._surname=surname #protected
        self.__yob=yob #private 
    def test(self,m,n):
        return m+n+self.__yob #(p._person__yob)
    def __str__(self):
        return "%s is Name,Surname is %s & YOB is %d"%(self.name,self._surname,self.__yob)

In [110]:
p=person('A','B',89)
p.name

'A'

In [112]:
p.test(9,8)

106

In [114]:
p._surname

'B'

In [116]:
p._person__yob

89

In [118]:
p.__dir__

In [62]:
p.__dict__

{'name': 'A', '_surname': 'B', '_person__yob': 89}

In [81]:
#Inheritance-----parent class or bass class--child class or dervied class(means reusability)
class person:
    def __init__(self,name,surname,yob):
        self.name=name
        self.surname=surname
        self.yob=yob
    def test(self,m,n):
        return m+n+self.yob
    def __str__(self):
        return "%s is Name,Surname is %s & YOB is %d"%(self.name,self.surname,self.yob)

In [69]:
#*args more arguments from the parent class
class student(person):
    def __init__(self,roll_no,college_name,*args):
        super(student,self).__init__(*args)
        self.roll_no=roll_no
        self.college_name=college_name

In [77]:
s1=student(12,'abc','a','g',7)

In [79]:
s1.test(34,5)

46

In [ ]:
# multiple inheritance ------A class can be dervied from more than one b ase class.

In [124]:
class A: #base class
    def test(self):
        print("My name is rohi!!")

In [126]:
class B: # base class
    def test(self):
        print("My surname is Sharma !!")

In [128]:
class C(B,A):  #dervied class
    objA=A()
    objB=B()
    objA.test()
    objB.test()

My name is rohi!!
My surname is Sharma !!

In [130]:
oC=C()

In [132]:
oC.test()#declaration sequence

My surname is Sharma !!

In [134]:
#multilevel inheritance----feature of base class and the derived class are inf=heru=itance into the new derived class

In [133]:

class Animal:
    def speak(self):
        print("Animal Speaking!! ")
class dog(Animal):
    def bark(self):
        print("Dog Barking !! ")
d=dog()
d.speak()

Animal Speaking!!

In [135]:
class DogChild(dog):
    def eat(self):
        print("Eating Bread")

In [137]:
d1=DogChild()

In [139]:
d1.eat()

Eating Bread

In [1]:
class bank():
    def getroi(self):
        return 10

In [9]:
class SBI(bank):
    def getroi(self):
        return 7

In [11]:
class ICICS(bank):
    def getroi(self):
        return 8

In [13]:
b1=bank()

In [15]:
b2=SBI()

In [17]:
b3=ICICS()

In [21]:
print("Bank rate of intersert",b1.getroi())
print("Bank rate of intersert",b2.getroi())
print("Bank rate of intersert",b3.getroi())

Bank rate of intersert 10
Bank rate of intersert 7
Bank rate of intersert 8

In [23]:
#Encapsulation--- Hiding the implementation/warpping ip of data & method

In [25]:
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
class tyre:
    def __init__(self,branch,baise,opt_pre):
        self.branch=branch
        self.baise=baise
        self.opt_pre=opt_pre
    def __str__(self):
        return str(self.branch )+" "+ str(self.baise) + " " +str(self.opt_pre)
t=tyre('mrf',56,33) 
print(t)

mrf 56 33

In [45]:
class engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
    def __str__(self):
        return str(self.fuel_type) + ' ' + str(self.noise_level)
e=engine('Diesel',55)
print(e)

Diesel 55

In [50]:
class body:
    def __init__(self,body_size):
        self.body_size=body_size
    def __str__(self):
        return "Body Size is:" + str(self.body_size)
b=body("Medium")  
print(b)

Body Size is:Medium

In [60]:
class car:
    def __init__(self,t1,e1,b1):
        self.t1=t1
        self.e1=e1
        self.b1=b1
    def __str__(self):
        return str(self.t1)+ " " + str(self.e1) + " " +str(self.b1)
c=car(t,e,b)
print(c)

mrf 56 33 Diesel 55 Body Size is:Medium

In [78]:
class bankacc:
    def __init__(self,balance):
        self.__balance=balance
    def deposit(self,amount):
        self.__balance += amount
    def withdraw(self,amount):
        if self.__balance >= amount:
            self.__balance -=  amount
        else:
            print("Insufficient Balance")
    def check_balance(self):
        return self.__balance 

bank=bankacc(10000)
bank.check_balance()

10000

In [80]:
bank.deposit(5000)

In [82]:
bank.check_balance()

15000

In [84]:
bank.withdraw(2000)

In [86]:
print(bank.check_balance())

13000

In [98]:
class student:
    def __init__(self,name="Jagruti",marks=55):
        self.name=name
        self.marks=marks
s1=student()
s2=student("gugu",45)

In [118]:
print(f"Name: {s1.name} marks: {s1.marks} ")
print(f"Name: {s2.name} marks: {s2.marks} ")

Name: Jagruti marks: 55
Name: gugu marks: 45

In [ ]:
## encapusulatuon
# 1.composite Encapsulation eg,c=car(t,e,b)
# 2.Dynamic Extension eg: c= car(t,e,"This is our defination")

In [120]:
## Ploymorphism-----

In [122]:
def add_x(a,b):
    return a+b
add_x(10,40)

50

In [124]:
add_x([3,5,6,6],[5,5,7,7])

[3, 5, 6, 6, 5, 5, 7, 7]

In [126]:
## MethodOverloading

In [148]:
class example:
    def __init__(self,X):
        self.X=X
    def __add__(self,U):
        return self.X + U.X

In [150]:
a1=example(int(input("Enter the value:")))
a2=example(int(input("Enter the value:")))
print(": ",a1+a2)

# a3=example(str(input(print("Enter the value:"))))

# a4=example(str(input(print("Enter the value:"))))

# print(" : ",a3+a4)

Enter the value: 56
Enter the value: 78

:  134